@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="width:1080px;height:1920px;display:flex; align-items:center; justify-content:center; background-color:#000; color:#FFF">
    <h1>Zync Project</h1>
    <!--<video width="1080" height="1920" muted autoplay>
        <source src="./vid/fallback.mp4" />
    </video>-->
</div>
